<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div>
				<img class="piano" src="assets/music.jpg">
			</div>
			<!-- <h1 class="name">
				Christopher Dukes
			</h1> -->
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-12 music-player">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/157951230&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false">
			</iframe>
	</div>
</div>