<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div>
				<img class="piano" src="assets/music.jpg">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 about">
			
		</div>
		<div class="col-md-6 music">
			<!-- This is where the soundcloud player will go -->
		</div>
	</div>

	<!-- <div class="row nav">
		<div class="col-md-4">
			<button class="btn btn-default" type="submit">
				Button
			</button>
			<a href="/">Home</a>
		</div>
		<div class="col-md-4">
			<a href="/">Who is 9 Sec?</a>
		</div>
		<div class="col-md-4">
			<a href="/">Contact me!</a>
		</div>
	</div>
	 -->
</div>