<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div>
				<img class="piano" src="assets/music.jpg">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 about">
			<!-- this is where the artists information will go -->
		</div>
		<div class="col-md-6 music">
			<!-- This is where the soundcloud player will go -->
		</div>
	</div>
</div>