<!DOCTYPE html>
<html>
<head>
  <title>MusicMinded</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<script type="text/javascript" src="scripts/soundcloud.player.api.js"></script>
	<script type="text/javascript">
     soundcloud.addEventListener('onPlayerReady', function(player, data) {
       player.api_play();
     });
	</script>
</head>
<body style="padding-top: 70px;">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a class="btn btn-default navbar-btn pull-right" style="margin-left: 5px;" href="/contacts" role="button">
				Contact
			</a>
			<a class="btn btn-default navbar-btn pull-right" style="margin-left: 5px;" href="http://www.dukes.live" role="button">
				Blog
			</a>
			<a class="btn btn-default navbar-btn pull-right" href="/" role="button">
				Home
			</a>
		</div>
	</nav>

<%= yield %>

</body>
</html>
